@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
body {
  overflow-x: hidden;
  background-color: #ebcfa6;
  font-family: 'Cormorant Garamond', serif;
}

header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  padding-bottom: 100px;
}

header .face {
  display: flex;
}

header .face .border-face {
  width: 16.146vw;
  height: 31.704vh;
  background-color: whitesmoke;
  border-radius: 50%;
  display: flex;
  margin-left: 120px;
}

header .face .border-face img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: auto;
}

header .face .modal-block {
  height: 7.704vh;
  background-color: blanchedalmond;
  display: flex;
  align-items: center;
  border-radius: 30px;
  box-shadow: 3px 3px 10px #804141;
  cursor: pointer;
  animation: aboutMe 2s;
  animation-iteration-count: infinite;
}

header .face .modal-block:hover {
  box-shadow: 1px 1px 5px #804141;
}

header .face .modal-block p {
  padding: 0px 10px 0px 10px;
}

header picture {
  display: flex;
  justify-content: center;
}

header .social {
  background-color: white;
  width: 80px;
  background-color: #ebcfa6;
  animation: social 3s;
}

header h1 {
  width: 30vw;
  text-align: center;
  overflow: hidden;
  animation-name: h1Text;
  animation-duration: 2s;
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
  gap: 30px;
}

nav div {
  color: beige;
  margin-bottom: 5px;
  font-size: 25px;
  color: black;
  font-weight: 700;
  transition: 1s ease;
  cursor: pointer;
}

nav .slidelist:hover {
  border-bottom: 1px solid black;
}

nav .active {
  margin-bottom: 15px;
  border-bottom: 1px solid black;
}

section {
  width: 80vw;
  height: 130vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

section #sectionSkill {
  height: 200px;
}

section div {
  margin: 0 auto;
}

section h2 {
  margin: 0 auto;
  width: 10vw;
  font-size: 40px;
  display: inline-block;
  margin-left: 300px;
}

section picture {
  width: 40vw;
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
}

.JS, .CSS {
  width: 100px;
}

.JS img, .CSS img {
  margin-bottom: 50px;
  border-radius: 50%;
}

.opacityOn {
  opacity: 0;
  visibility: hidden;
}

.overflowOn {
  overflow: hidden;
}

.container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.dark {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(128, 128, 128, 0.4);
  z-index: 1;
  overflow: hidden;
}

.modal-window {
  width: 80vw;
  height: 80vh;
  min-height: 500px;
  background-color: #ebcfa6;
  border-radius: 80px;
  z-index: 2;
  display: flex;
  padding: 10px;
}

.modal-window .modal-face {
  display: flex;
  width: 600px;
  height: 300px;
}

.modal-window .modal-face .modal-window-face-block {
  border-top-left-radius: 80px;
  width: 300px;
  height: 300px;
}

.modal-window .modal-face h1 {
  margin: 0;
  text-align: left;
}

.modal-window .modal-face .modal-title {
  font-size: 20px;
  padding-left: 30px;
}

.modal-window .modal-face .modal-title p {
  font-size: 25px;
}

.modal-window .modal-face .modal-title ul {
  list-style: none;
  padding: 0;
}

.modal-window .exp {
  width: 600px;
  height: 100px;
  padding-top: 50px;
  font-size: 25px;
}

.modal-window .exp h2 {
  text-align: center;
  margin: 0;
}

.modal-window ul {
  list-style: none;
}

.modal-window ul li {
  margin-top: 5px;
  text-align: left;
}

.exit {
  position: fixed;
  right: 0;
  padding-right: 120px;
  padding-top: 50px;
  cursor: pointer;
}

.softskills {
  width: 900px;
  font-size: 20px;
}

.softskills h2 {
  text-align: center;
}

.softskills span {
  font-weight: 900;
}

.softskills ul li {
  margin-top: 15px;
}

main {
  width: 80vw;
  height: 120vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 100px;
  font-size: 30px;
  font-weight: 700;
}

main span {
  color: #e41c48;
}

main div {
  width: 400px;
  height: 400px;
  margin: 0;
  text-align: center;
}

main .library-block img {
  border-radius: 30px;
}
