@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
body {
  background-color: #ebcfa6;
  font-family: 'Cormorant Garamond', serif;
  overflow: hidden;
}

header {
  width: 98vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  padding-bottom: 100px;
}

header .modal-block {
  height: 7.704vh;
  background-color: blanchedalmond;
  display: flex;
  align-items: center;
  border-radius: 30px;
  box-shadow: 3px 3px 10px #804141;
  cursor: pointer;
}

header .modal-block:hover {
  box-shadow: 1px 1px 5px #804141;
}

header .modal-block p {
  padding: 0px 10px 0px 10px;
}

header .opacityOn {
  opacity: 0;
  visibility: hidden;
}

header .overflowOn {
  overflow: hidden;
}

header .container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

header .dark {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(128, 128, 128, 0.4);
  z-index: 1;
  overflow: hidden;
}

header .modal-window {
  width: 80vw;
  height: 80vh;
  background-color: #ebcfa6;
  border-radius: 80px;
  z-index: 2;
  display: flex;
  padding: 10px;
}

header .modal-window .modal-face {
  display: flex;
  width: 31.250vw;
  height: 30.644vh;
}

header .modal-window .modal-face .modal-window-face-block {
  border-top-left-radius: 80px;
  width: 15.625vw;
  height: 30.644vh;
}

header .modal-window .modal-face h1 {
  margin: 0;
  text-align: left;
}

header .modal-window .modal-face .modal-title {
  font-size: 20px;
  padding-left: 30px;
}

header .modal-window .modal-face .modal-title p {
  font-size: 25px;
}

header .modal-window .modal-face .modal-title ul {
  list-style: none;
  padding: 0;
}

header .modal-window .exp {
  width: 31.250vw;
  height: 10.215vh;
  padding-top: 50px;
  font-size: 25px;
}

header .modal-window .exp h2 {
  text-align: center;
  margin: 0;
}

header .modal-window ul {
  list-style: none;
}

header .modal-window ul li {
  margin-top: 5px;
  text-align: left;
}

header .exit {
  position: fixed;
  right: 0;
  padding-right: 6.250vw;
  padding-top: 50px;
  cursor: pointer;
}

header .softskills {
  width: 46.875vw;
  font-size: 20px;
}

header .softskills h2 {
  text-align: center;
}

header .softskills span {
  font-weight: 900;
}

header .softskills ul li {
  margin-top: 15px;
}

header .face {
  display: flex;
}

header .face .border-face {
  width: 16.146vw;
  height: auto;
  background-color: whitesmoke;
  border-radius: 50%;
  display: flex;
  margin-left: 120px;
}

header .face .border-face img {
  width: 15.625vw;
  height: auto;
  border-radius: 50%;
  margin: auto;
}

header picture {
  display: flex;
  justify-content: center;
}

header .social {
  background-color: white;
  width: 80px;
  background-color: #ebcfa6;
}

header .social .vk {
  margin-top: 100px;
  display: flex;
}

header h1 {
  width: 30vw;
  text-align: center;
  overflow: hidden;
}

header nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
  gap: 30px;
}

header nav div {
  color: beige;
  margin-bottom: 5px;
  font-size: 25px;
  color: black;
  font-weight: 700;
  transition: 1s ease;
  cursor: pointer;
}

header nav .slidelist:hover {
  border-bottom: 1px solid black;
}

header nav .active {
  margin-bottom: 15px;
  border-bottom: 1px solid black;
}

header .modal-block {
  height: 7.704vh;
  background-color: blanchedalmond;
  display: flex;
  align-items: center;
  border-radius: 30px;
  box-shadow: 3px 3px 10px #804141;
  cursor: pointer;
}

header .modal-block:hover {
  box-shadow: 1px 1px 5px #804141;
}

header .modal-block p {
  padding: 0px 10px 0px 10px;
}

#sectionSkill {
  height: 200px;
}

.skills-title {
  display: flex;
  width: 99vw;
  justify-content: center;
  font-size: 35px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 100px;
  height: 100vh;
}

.container section {
  width: 8.333vw;
  text-align: center;
  align-items: center;
}

.container section img {
  width: 80px;
}

.container section img h3 {
  white-space: nowrap;
}

#library {
  width: 99vw;
  height: 120vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5.208vw;
  font-size: 30px;
  font-weight: 700;
}

#library span {
  color: #e41c48;
}

#library div {
  width: 20.833vw;
  height: auto;
  margin: 0;
  text-align: center;
  align-items: center;
}

#library .animation {
  cursor: no-drop;
}

#library img {
  width: 20.833vw;
  height: auto;
}
