@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
body{
  background-color: rgb(235, 207, 166);
  font-family: 'Cormorant Garamond', serif;
  overflow-x: hidden;
}
header{
    width: 100vw;
    font-size: 34px;
    text-align: center;
}
nav{
  display:flex;
  align-items:center;
  justify-content:center;
  font-size: 30px;
  font-weight: 500;
  ul{
    list-style: none;
    display: flex;
    gap: 30px;
  }
  li{
    cursor: pointer;
    padding-bottom: 5px;
    &:hover{
      border-bottom: 1px rgb(92, 85, 85) solid;
    }
  }
}
main{
  width: 80vw;
  margin: 0 auto;
  section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
    position: absolute;
    width: 80vw;
    height: 100vw;
    transition: all 1s;
    .slide-block{
      border: 1px black solid;
      height: 30vh;
      display: flex;
      justify-content: center;
      &:hover .description{
        opacity: 1;
        visibility: visible;
      }
    }
    .description{
      height: 20vh;
      border: 1px black solid;
      width: 90%;
      margin-top: 9vh;
      opacity: 0;
      visibility: hidden;
      transition: all 1s;
    }
  }
}
.active-item{
  border-bottom: 1px rgb(92, 85, 85) solid;
}
.active-slide{
  opacity: 0;
  visibility: hidden;
}
