@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
body {
  width: 100%;
  height: 100%;
}

div {
  font-size: 20px;
}

span {
  font-size: 25px;
  font-weight: 700;
}

.pasOutput {
  margin: 0 auto;
  width: 400px;
  text-align: center;
  margin-top: 20px;
  border: 1px solid black;
  padding: 5px 0px 5px 0px;
  font-size: 18px;
}

.chexbox {
  display: flex;
  gap: 5px;
  margin-left: 30px;
}

.btn {
  text-align: center;
  margin-top: 20px;
}

.output {
  width: 210px;
  height: 35px;
  background-color: black;
  grid-column: 1 / 5;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  color: white;
  font-size: 35px;
  display: flex;
  justify-content: left;
  margin: auto;
  overflow: hidden;
}

.output span {
  padding-left: 10px;
}

.calc-container {
  width: 210px;
  height: 320px;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(5, 50px);
  gap: 3px;
  background-color: black;
  font-size: 25px;
  color: wheat;
  text-align: center;
  border-radius: 20px;
  user-select: none;
}

.calc-container .block {
  border: 1px black solid;
  border-radius: 30px;
  background-color: #201919;
  height: 48px;
}

.calc-container .block:active {
  background-color: #a1a1a1;
}

.calc-container .block:nth-child(18) {
  grid-column: 1 / 3;
}

.calc-container .block:nth-child(19) span {
  vertical-align: 12px;
  font-size: 30px;
}

.calc-container .block:nth-child(20) span {
  vertical-align: -12px;
  font-size: 30px;
}

.calc-container .gray {
  background-color: gray;
}

.calc-container .yellow {
  background-color: #f69a01;
}

.calc-container .yellow:active {
  background-color: #e7b35f;
}

.calc-container span {
  vertical-align: -10px;
}

body {
  background-color: #ebcfa6;
  font-family: 'Cormorant Garamond', serif;
  overflow-x: hidden;
}

header {
  width: 100vw;
  font-size: 34px;
  text-align: center;
}

main {
  width: 80vw;
  font-size: 25px;
  align-items: center;
  margin: 0 auto;
}

main .main-list {
  list-style: none;
  width: 80vw;
}

main .item-list {
  display: flex;
  list-style: none;
  gap: 30px;
}

main .item {
  height: 30vh;
  margin-top: 100px;
}

main .One {
  width: 50vw;
}

main .Two {
  width: 30vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

main .Two p {
  padding: 0;
  margin: 0;
  justify-content: center;
}
